PORT=3000
NODE_ENV=development
ALLOWED_FORMATS=jpeg,png,webp
MAX_FILE_SIZE_MB=25
MAX_IMAGE_HEIGHT=8192
MAX_IMAGE_WIDTH=8192
REAL_ESRGAN_DEVICE=
REAL_ESRGAN_EXECUTABLE_PATH=
REAL_ESRGAN_MODELS_DIR=
REAL_ESRGAN_TILE_SIZE=
TEMP_DIR=
